<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<properties resource="../../../Files/properties.config"/>-->

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="./Models/SqlMap/providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="YsnDB" connectionString="Data Source=222.100.204.205,1433;Initial Catalog=CRM_YONWOO_190117;user id=yonwoo;password=YwCrm1@;Timeout=3600"/>
    <!--dataSource name="YsnDB" connectionString="Data Source=222.100.204.205,1433;Initial Catalog=CRM_YONWOO;user id=yonwoo;password=YwCrm1@;Timeout=3600"/-->

    <!--  <dataSource name="YsnDB" connectionString="Data Source=192.168.211.23,1433;Initial Catalog=CRM_YONWOO;user id=yonwoo;password=yonwoo;Timeout=1200"/> 
    <dataSource name="YsnDB" connectionString="Data Source=222.100.204.205,1433;Initial Catalog=CRM_YONWOO;user id=yonwoo;password=yonwoo;Timeout=1200"/>-->
  </database>

  <sqlMaps>
     <sqlMap resource="./Models/SqlMap/Sample.xml" />
    <sqlMap resource="./Models/SqlMap/CommonCodeList.xml" />
    <sqlMap resource="./Models/SqlMap/Customer.xml" />
    <sqlMap resource="./Models/SqlMap/FileMapper.xml" />
    <sqlMap resource="./Models/SqlMap/PopupMapper.xml" />
    <sqlMap resource="./Models/SqlMap/KeyManMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MemberMapper.xml" />
    <sqlMap resource="./Models/SqlMap/SalesActivityMapper.xml" />
    <sqlMap resource="./Models/SqlMap/ProductInquiryMapper.xml" />
    <sqlMap resource="./Models/SqlMap/SampleRequestMapper.xml" />
    <sqlMap resource="./Models/SqlMap/SampleManageMapper.xml" />
    <sqlMap resource="./Models/SqlMap/OpportunityMapper.xml" />
    <sqlMap resource="./Models/SqlMap/ForecastMapper.xml" />
    <sqlMap resource="./Models/SqlMap/SalesOrderMapper.xml" />
    <sqlMap resource="./Models/SqlMap/BoardMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MainMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MonitoringMapper.xml" />
    <sqlMap resource="./Models/SqlMap/BaseInfoMapper.xml" />
    <sqlMap resource="./Models/SqlMap/ReportOrderMapper.xml" />
    <sqlMap resource="./Models/SqlMap/ReportSalesMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MonitoringOrderReportMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MonitoringSalesReportMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MonitoringSalesReportOrderMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MonitoringSalesUserMapper.xml" />
    <sqlMap resource="./Models/SqlMap/MonitoringSampleAnalysisMapper.xml" />
    <sqlMap resource="./Models/SqlMap/AdminUserChangeMapper.xml" /> 
    <sqlMap resource="./Models/SqlMap/DaliyInfoMapper.xml" />
    <sqlMap resource="./Models/SqlMap/AdminUserMapper.xml" />
    <sqlMap resource="./Models/SqlMap/AdminAuthMapper.xml" />
    <sqlMap resource="./Models/SqlMap/AdminCodeMapper.xml" />
    <sqlMap resource="./Models/SqlMap/AdminDeptMapper.xml" />
    <sqlMap resource="./Models/SqlMap/AdminMenuMapper.xml" />
    <sqlMap resource="./Models/SqlMap/EstimateMapper.xml" />




  </sqlMaps>

</sqlMapConfig>