<?xml version="1.0" encoding="utf-8"?>

<sqlMap namespace="YSN2017" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://ibatis.apache.org/mapping">



  <statements>

    <!-- 기회 및 수주관리 : 사업전망 관리 - 리스트 -->
    <select id="forecastList"  parameterClass="Hashtable" resultClass="Hashtable">

      SELECT
      A.OPPT_CD
      , A.OPPT_TYPE
      , dbo.FN_GET_CODE_NM(#language#, 'OPPT_TYPE', A.OPPT_TYPE) AS OPPT_TYPE_NM
      , A.ITEM_CD
      , DBO.FN_GET_ITEM_NM(A.ITEM_CD) AS ITEM_NM
      , (SELECT ITEM_CD2 FROM T_ITEM WHERE ITEM_CD = A.ITEM_CD) AS ITEM_CD2
      , A.BIZ_TYPE
      , dbo.FN_GET_CODE_NM(#language#, 'BIZ_TYPE', A.BIZ_TYPE) AS BIZ_TYPE_NM
      , (SELECT dbo.FN_GET_CODE_NM(#language#, 'ITEM_TYPE', ITEM_TYPE) FROM T_ITEM WHERE ITEM_CD = A.ITEM_CD) AS ITEM_TYPE_NM
      , A.CUST_CD
      , DBO.FN_GET_CUST_NM(A.CUST_CD) AS CUST_NM
      , (SELECT BAD_AR_YN FROM T_CUSTOMER WHERE CUST_CD = A.CUST_CD) AS BAD_AR_YN
      , A.USER_CD
      , DBO.FN_GET_USER_NM(A.USER_CD) AS USER_NM
      , A.DEPT_CD
      , DBO.FN_GET_DEPT_NM(A.DEPT_CD) AS DEPT_NM
      , A.EUSER_CD
      , DBO.FN_GET_CUST_NM(A.EUSER_CD) AS EUSER_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  A.DSTR_TYPE ELSE B.DSTR_TYPE END AS DSTR_TYPE
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  dbo.FN_GET_CODE_NM(#language#, 'DSTR_TYPE', A.DSTR_TYPE) ELSE dbo.FN_GET_CODE_NM(#language#, 'DSTR_TYPE', B.DSTR_TYPE) END AS DSTR_TYPE_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  A.OPPT_STATUS ELSE B.OPPT_STATUS END AS OPPT_STATUS
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  dbo.FN_GET_CODE_NM(#language#, 'OPPT_STATUS', A.OPPT_STATUS) ELSE dbo.FN_GET_CODE_NM(#language#, 'OPPT_STATUS', B.OPPT_STATUS) END AS OPPT_STATUS_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  A.WSO_PSBLT ELSE B.WSO_PSBLT END AS WSO_PSBLT
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  dbo.FN_GET_CODE_NM(#language#, 'WSO_PSBLT', A.WSO_PSBLT) ELSE dbo.FN_GET_CODE_NM(#language#, 'WSO_PSBLT', B.WSO_PSBLT) END AS WSO_PSBLT_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_y#+#base_m#) = 0 THEN  (SELECT VALUE_2 FROM T_CODE WHERE UP_CODE_ID = 'WSO_PSBLT' AND CODE_ID = A.WSO_PSBLT) ELSE (SELECT VALUE_2 FROM T_CODE WHERE UP_CODE_ID = 'WSO_PSBLT' AND CODE_ID = B.WSO_PSBLT) END AS WSO_PSBLT_VALUE
      , A.BASE_CRNY
      , A.EXCH_RATE
      , (SELECT SUM(OPPT_QTY) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) AS OPPT_QTY
      , CASE
      WHEN (SELECT SUM(OPPT_QTY) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) != 0 THEN
      (SELECT SUM(AMOUNT) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD)/(SELECT SUM(OPPT_QTY) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD)
      ELSE 0
      END AS OPPT_UNIT_PRC
      , (SELECT SUM(AMOUNT) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) AS AMOUNT
      , (SELECT SUM(KRW_AMOUNT) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) AS KRW_AMOUNT
      , A.PJT_CD
      , DBO.FN_GET_PJT_NM(A.PJT_CD) AS PJT_NM
      , A.WSO_PDATE
      , A.OPPT_SUMRY
      , A.RFC_CD
      , CASE WHEN (SELECT COUNT(OPPT_CD) FROM T_OPPT_FCST WHERE OPPT_CD = A.OPPT_CD AND USE_YN = 'Y' AND BASE_YM = #base_y#+#base_m#) > 0 THEN 'Y' ELSE 'N' END AS CNFM_YN
      , #base_y#+#base_m# AS BASE_YM
      FROM T_OPPORTUNITY A
      LEFT JOIN T_OPPT_FCST B
      ON A.COMPANY_CD = B.COMPANY_CD AND A.OPPT_CD = B.OPPT_CD AND B.BASE_YM = #base_y#+#base_m#
      LEFT OUTER JOIN T_DEPARTMENT AS D
      ON A.COMPANY_CD = D.COMPANY_CD	AND A.DEPT_CD = D.DEPT_CD
      WHERE A.COMPANY_CD = #company_cd#
      AND A.OPPT_STATUS IN (SELECT CODE_ID FROM T_CODE WHERE UP_CODE_ID = 'OPPT_STATUS' AND VALUE_1 = 'Y')
      AND A.DROP_YN = 'N'
      AND A.USE_YN ='Y'

      <isNotEmpty property="deptGroup">
        AND A.DEPT_CD = #deptGroup#
      </isNotEmpty>

      <isNotEmpty property="bizGroup">
        <isEmpty property="deptGroup">
          AND D.UP_DEPT_CD = #bizGroup#
          AND A.DEPT_CD IS NOT NULL
        </isEmpty>
      </isNotEmpty>




      <isNotEmpty property="user_nm">
        AND A.USER_CD = #user_nm#
      </isNotEmpty>
      <isNotEmpty property="dstr_type">
        AND A.DSTR_TYPE = #dstr_type#
      </isNotEmpty>
      <isNotEmpty property="sdate">
        AND A.WSO_PDATE BETWEEN REPLACE(#sdate#, '-', '') AND REPLACE(#edate#, '-', '')
      </isNotEmpty>
      <isNotEmpty property="cust_cd">
        AND (A.CUST_CD LIKE '%'+ #cust_cd# +'%' OR DBO.FN_GET_CUST_NM(A.CUST_CD) LIKE '%'+ #cust_nm# +'%')
      </isNotEmpty>
      <isNotEmpty property="biz_type">
        AND A.BIZ_TYPE = #biz_type#
      </isNotEmpty>
      <isNotEmpty property="oppt_type">
        AND A.OPPT_TYPE = #oppt_type#
      </isNotEmpty>
      <isNotEmpty property="oppt_status">
        AND A.OPPT_STATUS = #oppt_status#
      </isNotEmpty>
      <isNotEmpty property="euser_cd">
        AND A.EUSER_CD = #euser_cd#
      </isNotEmpty>
      <isNotEmpty property="item_type">
        AND A.ITEM_CD IN (SELECT ITEM_CD FROM T_ITEM WHERE ITEM_TYPE = #item_type#)
      </isNotEmpty>
      <isNotEmpty property="item_nm">
        AND A.ITEM_CD IN (SELECT ITEM_CD FROM T_ITEM WHERE ITEM_NM = #item_nm#)
      </isNotEmpty>
      <isNotEmpty property="rfc_cd">
        AND A.RFC_CD = #rfc_cd#
      </isNotEmpty>
      
      <isNotEmpty property="wso_psblt">
        AND A.WSO_PSBLT = #wso_psblt#
      </isNotEmpty>
      <isEmpty property="wso_psblt">
        AND A.WSO_PSBLT in ('WSOPB_100', 'WSOPB_200')
      </isEmpty>
      
      <isNotEmpty property="bcust_cd">
        AND A.CUST_CD IN (SELECT CUST_CD FROM T_CUSTOMER WHERE BCUST_CD LIKE '%'+ #bcust_cd# +'%' OR DBO.FN_GET_BCUST_NM(BCUST_CD) LIKE '%'+ #bcust_nm+'%'+ #)
      </isNotEmpty>
      <isNotEmpty property="pjt_cd">
        AND A.PJT_CD = #pjt_cd#
      </isNotEmpty>
      <isNotEmpty property="cnfm_yn">
        <isEqual property="cnfm_yn" compareValue="Y">
          AND (SELECT COUNT(OPPT_CD) FROM T_OPPT_FCST WHERE OPPT_CD = A.OPPT_CD AND USE_YN = 'Y' AND BASE_YM = #base_y#+#base_m#) <![CDATA[ > ]]> 0
        </isEqual>
        <isNotEqual property="cnfm_yn" compareValue="Y">
          AND (SELECT COUNT(OPPT_CD) FROM T_OPPT_FCST WHERE OPPT_CD = A.OPPT_CD AND USE_YN = 'Y' AND BASE_YM = #base_y#+#base_m#) <![CDATA[ <= ]]> 0
        </isNotEqual>
      </isNotEmpty>
    </select>






    <!-- 기회 및 수주관리 : 사업전망 관리 - 상세 -->
    <select id="forecastDetail"  parameterClass="Hashtable" resultClass="Hashtable">

      SELECT
      A.OPPT_CD
      , A.OPPT_TYPE
      , dbo.FN_GET_CODE_NM(#language#, 'OPPT_TYPE', A.OPPT_TYPE) AS OPPT_TYPE_NM
      , A.ITEM_CD
      , DBO.FN_GET_ITEM_NM(A.ITEM_CD) AS ITEM_NM
      , (SELECT ITEM_CD2 FROM T_ITEM WHERE ITEM_CD = A.ITEM_CD) AS ITEM_CD2
      , A.BIZ_TYPE
      , dbo.FN_GET_CODE_NM(#language#, 'BIZ_TYPE', A.BIZ_TYPE) AS BIZ_TYPE_NM
      , (SELECT dbo.FN_GET_CODE_NM(#language#, 'ITEM_TYPE', ITEM_TYPE) FROM T_ITEM WHERE ITEM_CD = A.ITEM_CD) AS ITEM_TYPE_NM
      , A.CUST_CD
      , DBO.FN_GET_CUST_NM(A.CUST_CD) AS CUST_NM
      , (SELECT BAD_AR_YN FROM T_CUSTOMER WHERE CUST_CD = A.CUST_CD) AS BAD_AR_YN
      , A.USER_CD
      , DBO.FN_GET_USER_NM(A.USER_CD) AS USER_NM
      , A.DEPT_CD
      , DBO.FN_GET_DEPT_NM(A.DEPT_CD) AS DEPT_NM
      , A.EUSER_CD
      , DBO.FN_GET_CUST_NM(A.EUSER_CD) AS EUSER_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  A.DSTR_TYPE ELSE B.DSTR_TYPE END AS DSTR_TYPE
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  dbo.FN_GET_CODE_NM(#language#, 'DSTR_TYPE', A.DSTR_TYPE) ELSE dbo.FN_GET_CODE_NM(#language#, 'DSTR_TYPE', B.DSTR_TYPE) END AS DSTR_TYPE_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  A.OPPT_STATUS ELSE B.OPPT_STATUS END AS OPPT_STATUS
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  dbo.FN_GET_CODE_NM(#language#, 'OPPT_STATUS', A.OPPT_STATUS) ELSE dbo.FN_GET_CODE_NM(#language#, 'OPPT_STATUS', B.OPPT_STATUS) END AS OPPT_STATUS_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  A.WSO_PSBLT ELSE B.WSO_PSBLT END AS WSO_PSBLT
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  dbo.FN_GET_CODE_NM(#language#, 'WSO_PSBLT', A.WSO_PSBLT) ELSE dbo.FN_GET_CODE_NM(#language#, 'WSO_PSBLT', B.WSO_PSBLT) END AS WSO_PSBLT_NM
      , CASE WHEN (SELECT COUNT(*) FROM T_OPPT_FCST WHERE COMPANY_CD = A.COMPANY_CD AND OPPT_CD = A.OPPT_CD AND BASE_YM = #base_ym#) = 0 THEN  (SELECT VALUE_2 FROM T_CODE WHERE UP_CODE_ID = 'WSO_PSBLT' AND CODE_ID = A.WSO_PSBLT) ELSE (SELECT VALUE_2 FROM T_CODE WHERE UP_CODE_ID = 'WSO_PSBLT' AND CODE_ID = B.WSO_PSBLT) END AS WSO_PSBLT_VALUE
      , A.BASE_CRNY
      , A.EXCH_RATE
      , (SELECT SUM(OPPT_QTY) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) AS OPPT_QTY
      , CASE
      WHEN (SELECT SUM(OPPT_QTY) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) != 0 THEN
      (SELECT SUM(AMOUNT) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD)/(SELECT SUM(OPPT_QTY) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD)
      ELSE 0
      END AS OPPT_UNIT_PRC
      , (SELECT SUM(AMOUNT) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) AS AMOUNT
      , (SELECT SUM(KRW_AMOUNT) FROM T_OPPT_ITEM WHERE OPPT_CD = A.OPPT_CD) AS KRW_AMOUNT
      , A.PJT_CD
      , DBO.FN_GET_PJT_NM(A.PJT_CD) AS PJT_NM
      , A.WSO_PDATE
      , A.OPPT_SUMRY
      , CASE WHEN (SELECT COUNT(OPPT_CD) FROM T_OPPT_FCST WHERE OPPT_CD = A.OPPT_CD AND USE_YN = 'Y' AND BASE_YM = #base_ym#) > 0 THEN 'Y' ELSE 'N' END AS CNFM_YN
      , ISNULL((SELECT ISNULL(CLOSE_YN,'N') AS CLOSE_YN FROM T_OPPT_FCST_CLOSE WHERE BASE_YM = #base_ym#),'N') AS CHKBASEYN
      , A.RFC_CD
      , A.RFC_CHASU
      ,  #base_ym# AS BASE_YM
      FROM T_OPPORTUNITY A
      LEFT JOIN T_OPPT_FCST B
      ON A.COMPANY_CD = B.COMPANY_CD AND A.OPPT_CD = B.OPPT_CD AND B.BASE_YM = #base_ym#
      LEFT OUTER JOIN T_DEPARTMENT AS D
      ON A.COMPANY_CD = D.COMPANY_CD	AND A.DEPT_CD = D.DEPT_CD
      WHERE A.COMPANY_CD = #company_cd#
      AND A.OPPT_STATUS IN (SELECT CODE_ID FROM T_CODE WHERE UP_CODE_ID = 'OPPT_STATUS' AND VALUE_1 = 'Y')
      AND A.DROP_YN = 'N'
      AND A.USE_YN ='Y'
      <isNotEmpty property="oppt_cd">
        AND A.OPPT_CD = #oppt_cd#
      </isNotEmpty>


      <isNotEmpty property="sdate">
        AND A.WSO_PDATE BETWEEN REPLACE(#sdate#, '-', '') AND REPLACE(#edate#, '-', '')
      </isNotEmpty>
      <isNotEmpty property="cnfm_yn">
        <isEqual property="cnfm_yn" compareValue="Y">
          AND (SELECT COUNT(OPPT_CD) FROM T_OPPT_FCST WHERE OPPT_CD = A.OPPT_CD AND USE_YN = 'Y' AND BASE_YM = #base_ym#) <![CDATA[ > ]]> 0
        </isEqual>
        <isNotEqual property="cnfm_yn" compareValue="Y">
          AND (SELECT COUNT(OPPT_CD) FROM T_OPPT_FCST WHERE OPPT_CD = A.OPPT_CD AND USE_YN = 'Y' AND BASE_YM = #base_ym#) <![CDATA[ <= ]]> 0
        </isNotEqual>
      </isNotEmpty>
    </select>



    <!-- 기회 및 수주관리 : 사업전망 관리 - 전망확정 step1 -->
    <delete id="forecastItemDel" parameterClass="Hashtable">
     
      DELETE T_OPPT_FCST_ITEM WHERE COMPANY_CD = #company_cd# AND OPPT_CD = #oppt_cd# AND BASE_YM = #base_ym#
    </delete>
    
    

    <!-- 기회 및 수주관리 : 사업전망 관리 - 전망확정 step2 -->
    <insert id="forecastItemSave" parameterClass="Hashtable">
      
      INSERT INTO T_OPPT_FCST_ITEM
      SELECT
      COMPANY_CD
      , OPPT_CD
      , #base_ym#
      , ITEM_CD
      , SALES_DATE
      , OPPT_QTY
      , OPPT_UNIT_PRC
      , AMOUNT
      , KRW_AMOUNT
      , getdate()
      , #reg_usr#
      , getdate()
      , ''
      FROM T_OPPT_ITEM
      WHERE COMPANY_CD = #company_cd#
      AND OPPT_CD = #oppt_cd#
    </insert>



    <!-- 기회 및 수주관리 : 사업전망 관리 - 전망확정 step3 -->
    <insert id="forecastSave" parameterClass="Hashtable">

      IF NOT EXISTS
      (
      SELECT * FROM T_OPPT_FCST
      WHERE COMPANY_CD = #company_cd#
      AND OPPT_CD = #oppt_cd#
      AND BASE_YM = #base_ym#
      )
      INSERT INTO T_OPPT_FCST
      SELECT
      COMPANY_CD
      , OPPT_CD
      , #base_ym#
      , ITEM_CD
      , PJT_CD
      , OPPT_TYPE
      , BIZ_TYPE
      , DSTR_TYPE
      , CUST_CD
      , EUSER_CD
      , USER_CD
      , DEPT_CD

      <isNotEmpty property="endConfirm">
        , OPPT_STATUS
        , WSO_PSBLT
        , WSO_PDATE
      </isNotEmpty>
      <isEmpty property="endConfirm">
        , #oppt_status#
        , #wso_psblt#
        , dbo.FN_GET_DATE_FORMAT(#wso_pdate#, 'YYYYMMDD')
      </isEmpty>
      
      , OPPT_SUMRY
      , BASE_CRNY
      , EXCH_RATE
      , RFC_CD
      , 0
      , USE_YN
      , GETDATE()
      , #reg_usr#
      , GETDATE()
      , ''
      FROM T_OPPORTUNITY
      WHERE COMPANY_CD = #company_cd#
      AND OPPT_CD = #oppt_cd#
      ELSE
      UPDATE T_OPPT_FCST SET
      <isNotEmpty property="endConfirm">
        OPPT_STATUS = (SELECT OPPT_STATUS FROM T_OPPORTUNITY WHERE COMPANY_CD = #company_cd# AND OPPT_CD = #oppt_cd#)
        , WSO_PSBLT = (SELECT WSO_PSBLT FROM T_OPPORTUNITY WHERE COMPANY_CD = #company_cd# AND OPPT_CD = #oppt_cd#)
        , WSO_PDATE = (SELECT WSO_PDATE FROM T_OPPORTUNITY WHERE COMPANY_CD = #company_cd# AND OPPT_CD = #oppt_cd#)
      </isNotEmpty>
      <isEmpty property="endConfirm">
        OPPT_STATUS = #oppt_status#
        , WSO_PSBLT = #wso_psblt#
        , WSO_PDATE = dbo.FN_GET_DATE_FORMAT(#wso_pdate#, 'YYYYMMDD')
      </isEmpty>

      , MOD_DT = GETDATE()
      , MOD_USR = #mod_usr#
      WHERE COMPANY_CD = #company_cd#
      AND OPPT_CD = #oppt_cd#
      AND BASE_YM = #base_ym#
    </insert>
    

  </statements>



</sqlMap>
