@if $enable-font-open-sans {
    $triton-font-path: get-resource-path('fonts', 'shared');
    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-Light.ttf') format('embedded-opentype');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-LightItalic.ttf') format('embedded-opentype');
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-Regular.ttf') format('embedded-opentype');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-Italic.ttf') format('embedded-opentype');
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-Semibold.ttf') format('embedded-opentype');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-SemiboldItalic.ttf') format('embedded-opentype');
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-Bold.ttf') format('embedded-opentype');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-BoldItalic.ttf') format('embedded-opentype');
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-ExtraBold.ttf') format('embedded-opentype');
        font-weight: 800;
        font-style: normal;
    }

    @font-face {
        font-family: 'Open Sans';
        src: url('#{$triton-font-path}/OpenSans-ExtraBoldItalic.ttf') format('embedded-opentype');
        font-weight: 800;
        font-style: italic;
    }
}
