# this property specifies a comma separated list of paths containing
# resources to copy to the build directory
app.resource.paths=

#==============================================================================
# Custom Properties - Place customizations below this line to avoid merge
# conflicts with newer versions

app.framework.version=6.2.0.981
app.framework=ext
app.classpath=${app.dir}/app.js,${app.dir}/app,${app.dir}/lib/,${app.dir}/lib/Sch
#app.cmd.jvm.args=-Xms1024m -Xmx8192m -Dapple.awt.UIElement=true -XX:-UseGCOverheadLimit -XX:+HeapDumpOnOutOfMemoryError -XX:-UseConcMarkSweepGC


app.cmd.version=6.6.0.13
